


.my_requests{
    
    text-align: right;
}

#Requests{
    margin-top: -0.3em;
}

#Requests .card-text a{
    float: left;
}

#Requests .card-title{
    
    font-weight: 500;
    color: #0099cc;
    margin-right: 0;
    display: inline-block;
    
}

#Requests .card-header img{
    
    width: 2em;
    height: 2em;
    border-radius: 50%;
    float: right;
    margin-left: 0.5em;
    
}

#Requests td .card{
    padding: 0 1em 0 1em;
    
}

#Requests .badge{
    margin-left: 1em;
}

#Requests .card-header{
    
    margin: 0 1.2em 0 1.2em;
    background: white;
    padding-right: 0;
    padding-left: 0;
}
#Requests .card-footer{
    padding-left: 2em;
    padding-right: 2em;
    margin-top: -1em;
}

#Requests .card-footer #page-counter{
    
    float: left;
    direction: ltr;
}

#Requests .card-footer #page-counter .pagination{
    box-shadow: 0px 0px 5px 0px #ddd;
    margin-bottom: 0;
}
#Requests td .p-text{
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.modal-title{
    float: right;
    text-align: right;
}

.icons{

    font-size: 1em;
    width: 30%;
    text-align: left;    
}

.teacher-name{
    
    color:  rgb(27,185,183);
    font-weight: 500;
    font-size: 17px;
    width: 70%;
    
}
.teacher-name .form-check-inline{
    margin-right: 0;
}
#Requests .card-title:hover{
    
    color: #007bff;
}
a:hover{
    text-decoration: none;
}
.alert{
    background: rgba(27,185,183, .2);

}
.alert p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.alert-link{
    
    margin-top: 1em;
}

#Requests small{
    margin-left: 1em;
}

.badge{
    font-weight: normal;
}

#pills-tab{
    font-size: 0.9em;
}

#pills-home-tab{
    background: white;
    border-bottom-color: rgb(27,185,183);
}

#pills-home-tab span{

    position: absolute;
    font-size: 1em;
    margin-top: -1em;
    left: 0.5em;
}


.my_requests .card-header .nav-link{
    padding: 0.3em;
    margin-right: 1em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: black;
    border-bottom: 1px solid white;
}

td .card-header{
    padding-bottom: 0;
}
#no-request{
    background: rgba(27,185,183, .2);
    color: cadetblue;
    padding: 5em 0 5em 0;
}

#no-request h5{
    text-align: center;
    font-size: 1em;
}

.modal-content .badge{
    float: left;
}

